-----BEGIN CERTIFICATE-----
MIIDXzCCAkegAwIBAgIUXwFLMgyQYIrrTyNj/wq5YAQh7ogwDQYJKoZIhvcNAQEL
BQAwPzELMAkGA1UEBhMCSVIxDzANBgNVBAgMBlRlaHJhbjEPMA0GA1UEBwwGVGVo
cmFuMQ4wDAYDVQQKDAVuZnRubzAeFw0yMjA1MDkxMDUyNDVaFw0yMzA1MDkxMDUy
NDVaMD8xCzAJBgNVBAYTAklSMQ8wDQYDVQQIDAZUZWhyYW4xDzANBgNVBAcMBlRl
aHJhbjEOMAwGA1UECgwFbmZ0bm8wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQC3oxtgDadR6Gc7aLje3f15FAeOprc21UvPNkb3R4r6y/TT645e0l82mR6S
KxGI/J4Z+HhJDMVYQxTcBH+EBHWFuKiZDO5LJZHoNA22ESWxBo0lbAM92CPJqI9J
rXL3dGJuk4YeXnopA+Rned0L+FBCQMUpm5byY1HXZyq3BQmEhzam1IHcBkHXahiX
FxM6b8DAY5okvVP/7QyD4eXmY/BnC6xUTO9aAKQyxzldG24ZlYk5RH23xypDkx0E
VlZs6cC+RAzFDULlw53Jerl0GnTmVP6ETwnhPsB6sWtB/d8/0sf4GhvyiBUw7lP+
O1aIlMZPu4OS4M4rwYRJkOdran+HAgMBAAGjUzBRMB0GA1UdDgQWBBTz6iwgTTfT
BRCLCneo7QRKbAOWETAfBgNVHSMEGDAWgBTz6iwgTTfTBRCLCneo7QRKbAOWETAP
BgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBvFg4j7EaQUc6pplJ4
wrFnw0E2FhWowLcol5T2Hi9KyQQlZkVioBX2s8fMHam4izacK8ZGbz4TS+5gkMtF
StCt2CLEA6dFSM/ZI2liGtNagXdrjPT3/Wrq/yd7BxZQ3CYQk/GmcxKJzZGMqxbV
AQULr+fAs2egRpsnVSBZMB3tT4iJmkOZ7aOq4XRRMKaEvyyH70Edsc7kgjVqKK3z
EzMCK+CDI6cc0/rnjTT4Z1z+ekZnhyJ5u+vHdlTNDpwIucUOJYSX3kWe+Kjr/dF9
BcyOG9odiBmJNFsQw1gIvieYEHo3nhRBTePz8KnKBExjBs9S0BXZLJIxxSiiJuNS
gkoH
-----END CERTIFICATE-----
