-----BEGIN CERTIFICATE-----
MIID4zCCAsugAwIBAgIUAjZgGY5fQHB3uEM0lwATDvhb1TUwDQYJKoZIhvcNAQEL
BQAwgYAxCzAJBgNVBAYTAklSMQ8wDQYDVQQIDAZUZWhyYW4xDzANBgNVBAcMBlRl
aHJhbjEOMAwGA1UECgwFTkZUTk8xDTALBgNVBAsMBENvZGUxEjAQBgNVBAMMCWxv
Y2FsaG9zdDEcMBoGCSqGSIb3DQEJARYNaW5mb0BuZnRuby5pbzAeFw0yMjA1MDMx
MTU2MzRaFw0zMjA0MzAxMTU2MzRaMIGAMQswCQYDVQQGEwJJUjEPMA0GA1UECAwG
VGVocmFuMQ8wDQYDVQQHDAZUZWhyYW4xDjAMBgNVBAoMBU5GVE5PMQ0wCwYDVQQL
DARDb2RlMRIwEAYDVQQDDAlsb2NhbGhvc3QxHDAaBgkqhkiG9w0BCQEWDWluZm9A
bmZ0bm8uaW8wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCT30Tmslz5
Na/908id41EApSG3ictFrGdPbHWriN//2EVbcSjxofjqXM3PJ61hQ+gdRxkxZePi
vo0T4iaNWbxbE1RnxsRS4bCvo4mm4RWuEndGs3OXn/u2ozhaJKkbBPCR2IaR3eWG
s4B9Vs8UlRfS5akkaw1gEhQIVrsvCp/1VbtkeB0pwxnVrqsnLJV/ltjM+sgyql2I
C6vPq3JCT5q9n1u5fBm6D93EdZiEfdUt5tNQ5zFWV9Kun3nYKBtRNy6bSPYTRxUb
f4tAYZ1PVISOYMm49DmVvyIe6OaAhk7pPA5BC7KkdeS2aWSIFrokzcNOB0J1DjZ7
iGhcWY+jOElVAgMBAAGjUzBRMB0GA1UdDgQWBBSDNW5nQGgurkODUxgxyfLq6tQp
yTAfBgNVHSMEGDAWgBSDNW5nQGgurkODUxgxyfLq6tQpyTAPBgNVHRMBAf8EBTAD
AQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBZNZQKLlVjaa7nGKu5yv2BibqxswgihP8o
HMkrZOOnRR7ztxKofrwJM4swMx2svbs5TgQfYV7h+F6aoH1phq+YAlxQdOKNwsuh
a81ulJdFWy/LEelZqBkv/NsyU1Qzo//kVzWicRsbTZTvmX9Mae0sMUrk1aV+eyti
3eEXU21BnOv0jP6NYJ8XD4wfpCqS4UhooXzbybjkhHGC/Ix9MwmWtXqJmjKTlY5s
zkTNRnzM9LT6BsgzJQxaODjYJSfmpz714xnhLqIFtyUSUTaZ/gRrPODeah3bBEgF
c9MiFq343b2S+tap4YxcxBApz8aVcYWxihZTD/RDWJfOCzjJdAAa
-----END CERTIFICATE-----
